<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Armenian" value="ArmenianTranslator.dll" />
    <add key="Spanish" value="SpanishTranslator.dll" />
    <add key="Finnish" value="FinnishTranslator.dll" />
    <add key="Russian" value="RussianTranslator.dll" />
  </appSettings>
</configuration>